discourse {
  # Your forum address (no trailing slash)
  url = "https://your.discourse.forum"

  # See https://[your forum]/admin/api/keys
  key = "your API key"

  # Existing forum user. Bot will post as this user
  username = "SomeUsername"

  # Timeout for API calls
  timeout = 5 seconds

  # Category id to post in
  categoryId = 1
}

twitter {
  consumer {
    key = "my-consumer-key"
    secret = "my-consumer-secret"
  }
  access {
    key = "my-access-key"
    secret = "my-access-secret"
  }

  # Search terms
  tracks = []

  # User Ids
  follow = []
}